.notesGrid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .noteContainer {
        flex-grow: 1;
        background-color: cadetblue;
        border-radius: $card-border-radius;
        padding: 1rem;
        cursor: pointer;

        .noteTitle {
        }

        .noteContent {
        }
    }
}
